﻿@model EventReservationSystem___Project.CreditCard
@{ ViewBag.Title = "Create"; }
<script>

    function jsFunction(a){
       // set text box value here
    if (a[0]=="4")
    {
       var txt =  document.getElementById('cctype');
       txt.value = "VISA";
    }
    }

</script>
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CreditCard</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
	    
	    @Html.LabelFor(model => model.CreditCardType, htmlAttributes: new { @class = "control-label col-md-2" ,@id = "cctype"})
	    <div class="col-md-10">
	        @Html.EditorFor(model => model.CreditCardType, new { htmlAttributes = new { @class = "form-control" } })
	        @Html.ValidationMessageFor(model => model.CreditCardType, "", new { @class = "text-danger" })
	    </div>
	</div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditCardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" onchange="jsFunction(model => model.CreditCardNumber)">
                @Html.EditorFor(model => model.CreditCardNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreditCardNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NameOnCard, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameOnCard, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameOnCard, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpirationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Month, Enumerable.Range(1, 12).Select(month => new SelectListItem { Value = month.ToString(), Text = month.ToString() }), new  { @class = "form-control" })
                @Html.DropDownListFor(model => model.Year, Enumerable.Range(2016, 16).Select(year => new SelectListItem { Value = year.ToString(), Text = year.ToString() }), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CVV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CVV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CVV, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.ContactID, "ContactID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ContactID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContactID, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
