﻿<div class="jumbotron">
    <h1>Event Reservation System</h1>
    <p class="lead">Reserve space for an Event by filling in your Contact Details, Credit Card Details and Event Details.</p>
    <p><a href="~/Contacts/Create" class="btn btn-primary btn-lg">Reserve for an event &raquo;</a></p>
</div>
